In [20]:
import pandas as pd
import numpy as np
from sklearn.cross_validation import train_test_split
from sklearn import svm

In [21]:
data = pd.read_csv('Assigment 2 - Train.txt', sep= "|", header=None, names = ['Image_Id','gt_total','gt_date', 'gt_time', 'pred_total', 'pred_date', 'pred_time','conf_total','conf_date','conf_time'])

In [22]:
data.head()

,Image_Id,gt_total,gt_date,gt_time,pred_total,pred_date,pred_time,conf_total,conf_date,conf_time
0,1,160,2016-09-11,13:52:00,160,2016-03-11,13:52:00,-0.001974,-1.180410,-0.008496
1,3,195,2016-09-23,18:52:00,195,2016-09-23,18:52:00,-0.011053,-0.864236,-0.018932
2,4,145,2016-10-02,15:58:00,145,2017-10-18,15:58:00,-0.002920,-2.266910,-0.978772
3,4,243,2016-09-26,18:25:00,243,2017-09-26,18:25:00,-0.075094,-0.810062,-0.123047
4,6,71,2016-09-19,13:47:00,71,2016-08-19,13:47:00,-0.014107,-0.664796,-0.003986

In [23]:
def f1(data):
    if (data['gt_total'] == data['pred_total']) & (data['gt_date'] == data['pred_date']) & (data['gt_time'] == data['pred_time']):
        return 1
    else:
        return 0

In [24]:
data['label'] = data.apply(f1, axis =1)

In [25]:
data['label'].value_counts()

0    4249
1     751
Name: label, dtype: int64

In [26]:
label = data['label']

In [27]:
data = data.drop('label', axis = 1)

In [28]:
X_train, X_test, y_train, y_test = train_test_split(data, 
                                                    label, 
                                                    test_size = 0.2, 
                                                    random_state = 42)

In [29]:
clf = svm.SVC()

In [39]:
data['pred_total'].value_counts()

100      55
130      44
140      40
120      40
300      38
180      34
70       32
110      32
30       31
220      28
160      28
150      28
60       27
50       26
80       24
360      22
40       22
155      21
200      21
260      20
290      20
105      20
250      20
190      19
240      19
280      19
90       19
95       18
320      18
165      18
         ..
766       1
4876      1
4892      1
802       1
810       1
814       1
834       1
2899      1
690       1
2723      1
562       1
674       1
18995     1
574       1
6729      1
586       1
2647      1
610       1
4708      1
614       1
2663      1
2675      1
630       1
638       1
646       1
2699      1
654       1
658       1
662       1
0         1
Name: pred_total, Length: 1817, dtype: int64